{{>header}}
    {{>navbar}}
  <body>
    <section class="textoContenido">
      <p>
        <h1>Cannabis en Egipto</h1> 
        <img src="assets/imagenes/img1.avif" alt="">
<br><br><br>
El uso histórico de Egipto del Shemshemet (marihuana) parece doble. Por un lado, el cáñamo puede haber sido utilizado
para fibra y textil; por otro lado, los componentes más psicoactivos del cannabis pueden haber sido usados
medicinalmente. Aunque hoy en día muchas fuentes parecen autoritarias en sus afirmaciones de que en el antiguo Egipto se
utilizaba el cáñamo para esto y la marihuana para aquello, es necesario examinar más de cerca las pruebas.
Hagamos un viaje a través de la historia egipcia, comenzando alrededor del año 3.000 AC.
<br><br><br>
Si bien la línea de tiempo exacta no es tan clara, es probable que la marihuana se utilizara en el antiguo Egipto hace
hasta 5.000 años. Algunos especulan que las representaciones de la diosa egipcia de la escritura, Sheshat, rebosan de
temas inspirados en el cannabis. En muchas pinturas, se la muestra con una hoja en forma de estrella sobre su cabeza y
una cuerda fibrosa en su mano. ¿La capacidad creativa de Sheshat fue cortesía de alguna ayuda del cáñamo? Es una teoría
divertida, pero pasemos a más ejemplos basados en la evidencia.

Primero, es importante entender el contexto en el que se encontraba la medicina egipcia. La comprensión de la cultura
egipcia del cuerpo humano estaba muy adelantada a su tiempo y, relativamente hablando, extraordinariamente avanzada.
Aunque los antiguos egipcios precedieron a la teoría de los gérmenes de Pasteur por miles de años, daban un gran valor a
la limpieza y la higiene. Y costumbres como el embalsamamiento se sumaron a la comprensión de los egipcios de cómo
funcionaba el cuerpo humano.

Este mismo conocimiento médico se prestaba al uso extensivo de plantas medicinales. Al principio, este uso desdibujó la
línea (incluso la borró por completo) entre la ciencia y la religión. Como señala la egiptóloga Barbara Watterson, “el
primer ‘doctor’ fue un mago, ya que los egipcios creían que la enfermedad y la dolencia eran causadas por una fuerza
maligna que entraba en el cuerpo”. Afortunadamente, los encantamientos basados en plantas parecían ser una cura
perfecta.

Muy pronto se descubrió que el cannabis era uno de los mejores y más poderosos preparados a base de plantas. Su doble
propiedad psicotrópica y curativa probablemente hizo que la marihuana fuera popular entre los médicos-magos de la
antigüedad. Y aunque no está claro exactamente cuándo se generalizó el uso del cannabis, se han encontrado residuos de
la planta en artefactos egipcios que datan de hace más de 4.000 años.

Alrededor de 2.000 AC, los ungüentos de cannabis se usaban para tratar las llagas de los ojos y el glaucoma. Hoy en día
la ciencia ha demostrado lo que los antiguos egipcios aprendieron a través de siglos de experiencia: que la marihuana es
un potente antiinflamatorio que reduce la presión intraocular. Otra egiptóloga, Lise Manniche, señala en su libro An
Ancient Egyptian Herbal que varios textos que se remontan al siglo XVIII AC animaban a los lectores a “plantar cannabis
medicinal”.
<br><br>
<h2>La marihuana se menciona en pergaminos antiguos</h2>
<img src="assets/imagenes/img2.avif" alt="">
<div class="referencia">Tomado de: Breve historia sobre la marihuana en Occidente
  P. Leal-Galicia, D. Betancourt, A. González-González, H. Romo-Parra</div>
      </p>
    </section>
  </body>
</html>
</div>
   {{>footer}}