{{>header}}
{{>navbar}}
  <body>
    <section class="textoContenido">
        <p>
          <h1>Llegada del cannabis a América y a México</h1> 
<img src="assets/imagenes/viajes-de-colon1.jpg" alt="">
          El primer contacto de América
          con el cannabis fue a través de Cristóbal Colón, que portaba en sus
          embarcaciones un estimado de cerca de 80 toneladas de velas y cuerdas
          hechas de cáñamo. Como dato curioso, el periódico La Vanguardia
          menciona que ‘se pueden observar hojas de marihuana en el monumento a
          Colón en Barcelona’. Posteriormente, durante el período de la
          conquista (~1521), Hernán Cortés importó diversas plantas de Europa y
          Asia, entre ellas C. sativa y C. indica, para levantar la economía de la
          Nueva España. Según García Vallejo, Pedro Cuadrado de Alcalá fue
          quien, con la idea de producir textiles, importó las primeras semillas
          de cáñamo y el método de cultivo. Ante el rápido crecimiento de la
          agricultura de la marihuana, a los religiosos les interesó que los
          indígenas cultivaran otras especies diferentes de plantas; esto, aparte
          de que extendería la agricultura, serviría para mejorar la economía en
          función de la paga de limosnas y tributos a manera de impuestos por la
          siembra y la cosecha; lo que no sucedió, pues a los indígenas no les
          interesaba pagar limosnas. <br><br><br>
           Independientemente de esto, el nuevo
          cultivo permitió desarrollar nuevas técnicas de agricultura para
          especies específicas que se adaptaron con gran facilidad a las
          condiciones del Nuevo Mundo. En 1532, la Segunda Real Audiencia
          autorizó oficialmente, a través del gobernador don Sebastián Ramírez de
          Fuenleal, la siembra del cáñamo para fines textiles.
          Posteriormente, el rey Carlos V extendió la autorización a todo el
          territorio y ordenó que se enseñara a los indígenas a hilarlo y tejerlo.
          Así fue como los indígenas americanos comenzaron con el cultivo y el
          procesamiento de la marihuana. Los sacerdotes jesuitas fueron
          responsables de difundir el uso medicinal del cáñamo en el noroeste de
          México; por ejemplo, Juan de Estey­neffer (1712), en su tratado
          Florilegio medicinal de todas las enfermedades, afirmaba que las
          semillas de cáñamo se usaban en horchata contra la gonorrea. En
          Memoria sobre el uso que hacen los indios de los pipiltzintzintlis
          (1772), José Antonio Alzate describió que esta planta producía un efecto
          tranquilizador y podía usarse contra el dolor muscular y de muelas.
          En Canadá, el cáñamo fue introducido y cultivado en Nueva Escocia
          (~1606) por Louis Hebert, que trabajó para el explorador Samuel
          Champlain. Se conoce que fue el primer boticario canadiense, y tenía un
          interés en la jardinería, las plantas y su uso medicinal. En cuanto
          a Norteamérica, se tiene datos de que en 1611 el rey Jacobo I de
          Inglaterra hizo obligatoria la producción del cáñamo de marihuana en la
          colonia de Virginia. Como se ha mencionado, en esas épocas, el
          cáñamo era importante para la construcción de cuerdas de navegación y
          para el tejido. Tanto Massachusetts como Connecticut siguieron a
          Virginia, donde incluso la planta llegó a aceptarse como moneda.
          Las primeras referencias al cannabis medicinal en Occidente mencionan al
          médico irlandés William Brooke O’Shaughnessy como su precursor. En
          su viaje por la India, aprendió el uso del cáñamo, preparó extractos de
          la resina y la convirtió en píldoras o la disolvió en alcohol para
          producir una tintura, con la que experimentó en animales. <br><br><br>
          Convencido de su eficacia, comenzó a usarla en humanos para el cólera, las
          convulsiones infantiles e incluso el tétanos. En 1851, el cannabis
          se introdujo por primera vez en la tercera edición la farmacopea de
          Estados Unidos y, aunque se sabía que era tóxico, también que poseía
          efectos analgésicos y de inducción del sueño. A finales del siglo
          xix, el uso del cannabis disminuyó debido a diferentes factores; uno de
          ellos fue que, tras el desarrollo de la jeringa, se notó que el aceite
          del cáñamo no era soluble en agua, lo que abrió las puertas a los
          opiáceos. Por otro lado, en México, los esclavos originarios de
          África, al traer sus cultos y medicina-ritual a América, introdujeron a
          los indígenas en el uso del cannabis; así, la marihuana se incorporó
          como medicina espiritual de los chamanes. Alrededor del siglo xix,
          la medicina popular se realizaba a través de curanderas a las que se les
          llamaba ‘Marías’ o ‘Juanas’, de donde se cree que surge la mixtura
          lingüística ‘marijuana’. Después de a las curanderas, el cannabis
          alcanzó a los sectores más pobres de las zonas urbanas de la Ciudad de
          México. Durante la segunda mitad del siglo xix y principios del xx,
          en Estados Unidos y en México, el cannabis estaba disponible sin receta
          y se usaba para una amplia gama de dolencias, incluyendo la migraña y
          las úlceras. Hacia 1860 era común, en la prensa de la Ciudad de
          México, la publicidad: ‘Cigarros indios de Cannabis indica’,
          comercializados por Grimault y Compañía, farmacéuticos de París. En
          cuanto a Norteamérica, a principios de los años treinta, los migrantes
          mexicanos introdujeron la marihuana como una droga que se hizo popular
          entre los músicos de jazz de Nueva Orleans y de ahí se extendió a otras
          grandes ciudades. El gobierno estadounidense, preocupado por la
          vertiginosa comercialización del cannabis, inició una campaña conocida
          como ‘reefer madness’ (‘locura por el porro’) para desacreditar el
          consumo de dicha hierba (Fig. 2). Así se originó la prohibición y
          con ella el mercado negro y, en conjunto, la corrupción. Hacia
          1930, por ‘clichés’, se asoció el consumo de marihuana con sujetos
          capaces de cometer actos de delincuencia, y se creó la idea del
          envenenamiento de la juventud por su introducción en los colegios
          norteamericanos.
  <br><br><br>
          <img src="assets/imagenes/viajes-de-colon1.jpg" alt="">
<br><br><br>
  <div class="referencia">Tomado de: Breve historia sobre la marihuana en Occidente
    P. Leal-Galicia, D. Betancourt, A. González-González, H. Romo-Parra</div>
        </p>
      </section>
    </body>
  </html>
  </div>
{{>footer}}