{{>header}}
    {{>navbar}}
    <form>
        <fieldset class="formulario">
  <legend>Datos de Contacto</legend>
  <br>
  <section class="seccionFormulario">
  <label for="nombre">Nombre:</label class="subtitulo">
  <input type="text" name="nombre">
  <br><br>
  <label for="apellido">Apellido:</label>
  <input type="text" name="apellido">
<br> <br>
  <label for="correo">Correo electrónico:</label>
  <input type="email" name="correo" id="">
<br> <br>
<label for="consulta">Tu consulta</label>
<textarea name="consulta" id="consulta" cols="30" rows="20"></textarea>
<br>
<input type="submit" value="Envia tu consulta">
<input type="reset">
</section>
</fieldset>
</form>
</head>
<body>
{{>footer}}