{{>header}}

    {{>navbar}}
  <body>
    <div class="container-fluid text-align: center col-sm-6 col-lg-8 col-md-8">
      <h1 class="Titulos">Cannabinoides a través del tiempo</h1>
    <br><br><br>
    <section>
      <img src="assets/imagenes/cannabis-egipto.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cannabis en Egipto</h5>
        <p class="card-text">En Egipto, el uso medicinal de la marihuana se remonta a milenios. Y si bien muchas culturas tempranas diferentes
        cultivaron marihuana, los habitantes del antiguo Egipto ejemplifican un uso verdaderamente holístico de la planta. Es
        incluso posible que el cannabis (que es llamada en los jeroglíficos egipcios como “shemshemet“) se hiciera popular antes
        de que se construyeran las grandes pirámides.</p>
          <a href="articulo1" class="card-link">Leer más</a>
      </div>
    </div>
    <div class="container-fluid text-align: center col-sm-6 col-lg-8 col-md-8">
        <img src="assets/imagenes/viajes-de-colon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Llegada del Cannabis a América Latina</h5>
          <p class="card-text">El primer contacto de América con el cannabis fue a través de Cristóbal Colón, que portaba en sus embarcaciones un
          estimado de cerca de 80 toneladas de velas y cuerdas hechas de cáñamo. Como dato curioso, el periódico La
          Vanguardia menciona que ‘se pueden observar hojas de marihuana en el monumento a Colón en Barcelona</p>
            <a href="articulo2" class="card-link">Leer más</a>
        </div>
      </div>
    </div>
  </section>
</body>
{{>footer}}