{{>header}}
    {{>navbar}}
    <h3>
        Su mensaje ha sido enviado.
    </h3>
    <div class="imgLogo"> <img  src="assets/imagenes/logo.png" alt="" width="250" height="250"></div>
</head>
<body>
{{>footer}}