{{>header}}
  {{>navbar}}
  <body>
    <section id="videos">
      <iframe
        width="580"
        height="315"
        src="https://www.youtube.com/embed/nUHGtzj84eQ"
        title="YouTube video player"
        frameborder="10"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="parrafos">
        El cannabidiol es una sustancia que ha suspuesto un "boom" en el ámbito
        deportivo debido a sus importantes beneficios. Sin embargo, los estudios
        relacionados con este compuesto aún son escasos, debido a su novedad.
        Por ello, llega nuestro doctor Borja Bandera para contarnos toda la
        evidencia disponible hasta el momento sobre el CBD.
      </p>
    </section>
    <div></div>

    <section id="videos">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/boxUu2p-GTM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="parrafo2">
        En este vídeo te cuento todo lo que necesitas saber sobre el CBD: - Qué
        es el sistema endocannabinoide. - Cómo afecta el CBD al sistema
        endocannabinoide. - Diferencias entre CBD y THC. - Beneficios del CBD. -
        Posibles riesgos del CBD. - ¿El CBD genera adicción? - Recomendaciones
        de uso del CBD. - Métodos para consumir CBD. - Dosis efectivas de CBD.
        Además, descubrirás su el CBD es para ti, o si es un suplemento que no
        es interesante en tu caso en concreto. ÍNDICE del vídeo :) 0:00 Inicio
        1:00 Ebook de regalo 2:20 Sistema endocannabinoide a fondo (la clave de
        todo) 7:45 Receptores principales 11:28 Concepto cannabidoide y tipos
        15:00 THC vs CBD 19:00 Beneficios del CBD 26:00 Mi propia experiencia
        tomándolo 29:46 Como tomarlo 31:10 Dosis 33:00 Donde encontrarlo
      </p>
    </section>
    <section id="videos">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hnsKvtehub0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="parrafos">
        La salud de una persona es también la salud de su familia y su entorno.
        This talk was given at a TEDx event using the TED conference format but
        independently organized by a local community. Learn more at
        <a href="www.ted.com/tedx">TEDx</a>
      </p>
    </section>
  </body>
{{>footer}}